# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
*.tfvars
!terraform.tfvars.example

# Logs
logs/
*.log

# Clés SSH
*.pem
*.key
id_rsa*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
